<h1>My Friends</h1>
<div class="search-area">
  <h3>Search Friends</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friend_result %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friend_result.each do |friend| %>
          <tr>
            <td><strong>Name: </strong> <%= friend.full_name %></td>
            <td><strong>Email: </strong> <%= friend.email %></td>
            <td><%= link_to "View  profile", user_path(friend), class: 'btn btn-sm btn-success' %>
            <% if current_user.not_friends_with?(friend.id) %>
                <%= button_to 'Follow friend?', friendships_path(friend: friend),
                              class: "btn btn-sm btn-success", method: :post %>
              <% else %>
              <span class="badge badge-primary">
                You are friends
              </span>
            <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% else %>
<p><strong>U have no friends!</strong></p>
<% end %>